<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Email Status</h1>
<!--        <form action="" onsubmit="sendMessage(event)">-->
<!--            <input type="text" id="messageText" autocomplete="off"/>-->
<!--            <button>Send</button>-->
<!--        </form>-->
        <ul id='messages'>
        </ul>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                console.log(event.data)
                var jsonData = JSON.parse(event.data)
                var messages = document.getElementById('messages')
                for(let i=0; i < jsonData.length; i++) {
                    var message = document.createElement('li')
                    var content = document.createTextNode(jsonData[i].id + " -> " + jsonData[i].event)
                    messages.appendChild(message)
                    message.appendChild(content)
                }
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>